<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add Category 
    </ion-title> 
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Record saved Successfully!</strong>
          <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="updateMessage" class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Record Updated Successfully!</strong>
          <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="categoryForm">
          <div class="form-group">
            <label class="form-label" style="color:seagreen;font-weight: bold;">Name</label>
            <ion-input type="text" class="form-control" formControlName="name" placeholder="Enter Name" [(ngModel)]="categoryName" required></ion-input>
          </div><br>
        </form>
        <div class="form-group">
          <label style="color:seagreen;font-weight: bold;">Status</label>
          <ion-select [(ngModel)]="categoryStatus" required class="form-control" placeholder="Select Status">
            <ion-select-option>Active</ion-select-option>
            <ion-select-option>Inactive</ion-select-option>
          </ion-select>
          <br>
          <label style="color:seagreen;font-weight: bold;">Description</label>
          <ion-textarea type="text" [(ngModel)]="categoryDate" class="form-control" placeholder="Enter Description"
            required></ion-textarea>
        </div>
        <br>
        <button *ngIf="SaveButton" (click)="saveCategory()"
          [disabled]="categoryName === '' || categoryStatus.invalid || categoryDate ==''"
          class="btn btn-dark btn-md">Save</button>&nbsp;
        <button *ngIf="UpdateButton" (click)="updateCategory()" class="btn btn-warning btn-md">Update</button>&nbsp;
        <button (click)="resetForm()" class="btn btn-dark btn-md">Reset</button>
      </div>
      <div class="col">
        <h2 style="text-align: center;">Swipe right to <code>Edit</code> & Swipe left to <code>Delete</code>!</h2>
        <ion-list>
          <ion-item>
            <ion-label style="color:seagreen"><b>ID</b></ion-label>
            <ion-label style="color:seagreen"><b>Name</b></ion-label>
            <ion-label style="color:seagreen"><b>Description</b></ion-label>
            <ion-label style="color:seagreen"><b>Status</b></ion-label>
          </ion-item>
        </ion-list>
        <ion-list *ngFor="let category of categories">
          <ion-item-sliding>
            <ion-item class="item item-text-wrap">
              <ion-label>{{category.id}}</ion-label>
              <ion-label><b>{{category.name}}</b></ion-label>
              <ion-label text-wrap>{{category.date}}</ion-label>
              <ion-label>{{category.status}}</ion-label>
            </ion-item>
            <br>
            <ion-item-options side="start">
              <button class="btn btn-warning" (click)="editCategory(category)">Edit</button>
            </ion-item-options>
            <ion-item-options side="end">
              <button class="btn btn-danger" (click)="deleteCategory(category.id)">Delete</button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
