<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center; text-transform: uppercase;">
      Add Category
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <br>
  <div class="container">
    <div class="row">
      <div class="col" style="padding: 20px; background: #FFAFBD;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;">
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Record saved Successfully!</strong>
          <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="updateMessage" class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Record Updated Successfully!</strong>
          <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="categoryForm">
          <div class="form-group">
            <label class="form-label" style="color:black;font-weight: bold;">Name</label>
            <ion-input type="text" class="form-control" formControlName="name" placeholder="Enter Name"
              [(ngModel)]="categoryName" required></ion-input>
          </div><br>
        </form>
        <div class="form-group">
          <label style="color:black;font-weight: bold;">Status</label>
          <ion-select [(ngModel)]="categoryStatus" required class="form-control" placeholder="Select Status">
            <ion-select-option>Active</ion-select-option>
            <ion-select-option>Inactive</ion-select-option>
          </ion-select>
          <br>
          <label style="color:black;font-weight: bold;">Description</label>
          <ion-textarea type="text" [(ngModel)]="categoryDate" class="form-control" placeholder="Enter Description"
            required></ion-textarea>
        </div>
        <br>
        <button *ngIf="SaveButton" (click)="saveCategory()"
          [disabled]="categoryName === '' || categoryStatus.invalid || categoryDate ==''"
          class="btn btn-dark btn-md">Save</button>&nbsp;
        <button *ngIf="UpdateButton" (click)="updateCategory()" class="btn btn-warning btn-md"
        [disabled]="categoryName === '' || categoryStatus.invalid || categoryDate ==''">Update</button>&nbsp;
        <button (click)="resetForm()" class="btn btn-dark btn-md">Reset</button>
      </div>
      <div class="col" style="padding: 10px; margin-left: 10px;background: #ee9ca7;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      ">
        <h2 style="text-align: center;">Swipe right to <code>Edit</code> & Swipe left to <code>Delete</code>!</h2>
        <ion-list>
          <ion-item style="text-transform: uppercase; font-weight: bold;">
            <ion-label style="color:rgb(8, 151, 70)"><code>ID</code></ion-label>
            <ion-label style="color:rgb(8, 151, 70)"><code>Name</code></ion-label>
            <ion-label style="color:rgb(8, 151, 70)"><code>Description</code></ion-label>
            <ion-label style="color:rgb(8, 151, 70)"><code>Status</code></ion-label>
          </ion-item>
        </ion-list>
        <ion-list *ngFor="let category of categories">
          <ion-item-sliding>
            <ion-item class="item item-text-wrap">
              <ion-label>{{category.id}}</ion-label>
              <ion-label><b>{{category.name}}</b></ion-label>
              <ion-label text-wrap>{{category.date}}</ion-label>
              <ion-label style="font-style: italic;">{{category.status}}</ion-label>
            </ion-item>
            <br>
            <ion-item-options side="start">
              <button class="btn btn-warning" (click)="editCategory(category)">Edit</button>
            </ion-item-options>
            <ion-item-options side="end">
              <button class="btn btn-danger" (click)="deleteCategory(category.id)">Delete</button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
