<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <!-- <ion-input type="file" [(ngModel)]="imagesrc"></ion-input> -->

  

  <ion-input type="file" value="" (change)="fileChange($event)"></ion-input>

<img class="rounded mx-auto d-block" *ngIf="img1" [src]="img1"/>

<p style="text-align: center;">Category Master v1.0.0</p>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>

</ion-content>
